.skills__item, .experience__text, .projects__text {
  font-size: 15px;
  line-height: 1.29;
  letter-spacing: 0.01em;
  color: #79819A;
}

.education__date, .experience__location {
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #79819A;
}

.experience__title, .projects__title {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  font-weight: 500;
  color: #2E2E48;
}

.education__subject, .skills__category {
  font-size: 15px;
  line-height: 1.29;
  letter-spacing: 0.01em;
  font-weight: 500;
  color: #2E2E48;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #e5e5e5;
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/dm-sans-v11-latin-regular.eot");
  src: local(""), url("../fonts/dm-sans-v11-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/dm-sans-v11-latin-regular.woff2") format("woff2"), url("../fonts/dm-sans-v11-latin-regular.woff") format("woff"), url("../fonts/dm-sans-v11-latin-regular.ttf") format("truetype"), url("../fonts/dm-sans-v11-latin-regular.svg#DMSans") format("svg");
}
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/dm-sans-v11-latin-500.eot");
  src: local(""), url("../fonts/dm-sans-v11-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/dm-sans-v11-latin-500.woff2") format("woff2"), url("../fonts/dm-sans-v11-latin-500.woff") format("woff"), url("../fonts/dm-sans-v11-latin-500.ttf") format("truetype"), url("../fonts/dm-sans-v11-latin-500.svg#DMSans") format("svg");
}
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/outfit-v6-latin-regular.eot");
  src: local(""), url("../fonts/outfit-v6-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/outfit-v6-latin-regular.woff2") format("woff2"), url("../fonts/outfit-v6-latin-regular.woff") format("woff"), url("../fonts/outfit-v6-latin-regular.ttf") format("truetype"), url("../fonts/outfit-v6-latin-regular.svg#Outfit") format("svg");
}
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/outfit-v6-latin-500.eot");
  src: local(""), url("../fonts/outfit-v6-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/outfit-v6-latin-500.woff2") format("woff2"), url("../fonts/outfit-v6-latin-500.woff") format("woff"), url("../fonts/outfit-v6-latin-500.ttf") format("truetype"), url("../fonts/outfit-v6-latin-500.svg#Outfit") format("svg");
}
.container {
  display: flex;
  margin: 40px auto;
  width: 1200px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  background-color: #F7F9FC;
}

.left-side {
  width: 294px;
  background-color: #fff;
}

.right-side {
  padding: 32px 24px 32px 100px;
  width: 906px;
}

.right-side__section {
  margin-bottom: 24px;
}

.title {
  position: relative;
  margin-bottom: 16px;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  line-height: 1.33;
  letter-spacing: 0.01em;
  font-weight: 500;
  color: #2E2E48;
}

.title::before {
  content: "";
  display: block;
  position: absolute;
  left: -67px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 10px solid #fff;
  background-color: #5531A7;
}

.about__wrap {
  padding: 32px 36px;
}

.about__name,
.about__position,
.about__text {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
}

.about__name {
  margin-bottom: 8px;
  font-size: 26px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
  color: #2E2E48;
}

.about__position {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.01em;
  text-align: center;
  background: linear-gradient(90deg, #a478e8 0%, #516cf7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.about__text {
  position: relative;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  text-align: justify;
  color: #2E2E48;
}
.about__text::after {
  position: absolute;
  bottom: -32px;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #E2E6EE;
}

.contacts {
  padding: 32px 36px;
}

.contacts__list {
  position: relative;
}
.contacts__list::after {
  position: absolute;
  bottom: -32px;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #E2E6EE;
}

.contacts__item:not(:last-child) {
  margin-bottom: 28px;
}

.contacts__wrap {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.contacts__text {
  font-size: 13px;
  line-height: 1.33;
  letter-spacing: 0.01em;
  color: #79819A;
}

.contacts__link {
  font-size: 15px;
  line-height: 1.29;
  letter-spacing: 0.01em;
  font-weight: 500;
  word-wrap: break-word;
  color: #2E2E48;
}

.contacts__svg-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #E2E6EE;
}

.contacts__svg {
  fill: #79819A;
}

.languages-section {
  padding: 32px 36px;
}

.languages-section__title {
  margin-bottom: 24px;
  font-size: 13px;
  line-height: 1.33;
  letter-spacing: 0.01em;
  font-weight: 400;
  color: #79819A;
}

.language {
  display: flex;
  align-items: center;
  gap: 20px;
}
.language:not(:last-child) {
  margin-bottom: 24px;
}

.language__text {
  font-size: 15px;
  line-height: 1.29;
  letter-spacing: 0.01em;
  font-weight: 500;
  color: #2E2E48;
}

.language__level {
  font-size: 13px;
  line-height: 1.33;
  letter-spacing: 0.01em;
  color: #79819A;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 16px;
}

.projects__item {
  width: 380px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #fff;
  transition: transform 250ms linear, box-shadow 250ms linear;
}
.projects__item:hover, .projects__item:focus {
  transform: scale(1.01);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.projects .projects__item:first-child {
  border-top-left-radius: 8px;
}

.projects .projects__item:nth-child(2) {
  border-top-right-radius: 8px;
}

.projects .projects__item:nth-child(5) {
  border-bottom-left-radius: 8px;
}

.projects .projects__item:last-child {
  border-bottom-right-radius: 8px;
}

.projects__image_first {
  border-top-left-radius: 8px;
}

.projects__image_second {
  border-top-right-radius: 8px;
}

.projects__item_bottom {
  padding: 20px;
}

.projects__title {
  margin-bottom: 6px;
}

.experience__wrap {
  display: flex;
  align-items: center;
  padding: 20px 24px;
  margin-bottom: 16px;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #fff;
}

.experience__inner-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.experience__logo {
  margin-right: 16px;
  border-radius: 8px;
}

.experience__text {
  margin-bottom: 4px;
}

.experience__date {
  font-size: 13px;
  line-height: 1.33;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #47516B;
}

.experience__location {
  display: flex;
  align-items: center;
  gap: 4px;
}

.experience__svg {
  fill: #79819A;
}

.skills__wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}

.tech__wrap {
  margin-bottom: 16px;
}

.skills__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.skills__category {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.skills__tech-svg {
  background-color: #f0dff7;
  padding: 6px;
  border-radius: 50%;
  fill: #9251F7;
}

.skills__item {
  padding: 23px 16px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #fff;
}
.skills__item:nth-child(1) {
  border-radius: 8px 0px 0px 8px;
}
.skills__item:last-child {
  border-radius: 0px 8px 8px 0px;
}

.skills__item_tech {
  color: #9251F7;
}

.skills__item_soft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 38px;
  color: #516CF7;
}

.skills__soft-svg {
  background-color: #e6eef7;
  padding: 6px;
  border-radius: 50%;
  fill: #516CF7;
}

.education__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8px;
}

.education__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 24px;
  width: 206px;
  height: 130px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #fff;
}
.education__item:first-child {
  border-top-left-radius: 8px;
}
.education__item:last-child {
  border-bottom-right-radius: 8px;
}
.education__item:nth-child(3) {
  border-top-right-radius: 8px;
}
.education__item:nth-child(4) {
  border-bottom-left-radius: 8px;
}

.education__wrap {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 8px;
}

.education__school {
  font-size: 13px;
  line-height: 1.33;
  letter-spacing: 0.01em;
  font-weight: 500;
  color: #2E2E48;
}

.education__svg {
  fill: #161fd9;
}

.education__bottom-wrap {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=main.css.map */