h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: #e5e5e5;
  }

  .container {
    display: flex;
    margin: 40px auto;
    width: 1200px;

    background-color: #F7F9FC;
  }

  .left-side {
    width: 360px;
    background-color: #fff;
  }

  .right-side {
    padding: 32px 24px 32px 100px;
  }

  .title {
    position: relative;
    margin-bottom: 16px;

    font-size: 20px;
    line-height: 1.33;
    letter-spacing: 0.01em;
    font-weight: 500;

    color: #2E2E48;
  }

  .title::before {
    content: '';
    display: block;
    position: absolute;
    left: -67px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 10px solid #fff;
    background-color: #5531A7;
  }

  .right-side__section {
    margin-bottom: 24px;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 16px;
  }

  .projects__item {
    width: 380px;
    background-color: #fff;
  }

  .projects .projects__item:nth-child(even) {
    border-radius: 0px 4px 4px 0px;
  }

  .projects .projects__item:nth-child(odd) {
    border-radius: 4px 0px 0px 4px;    
  }

  .projects .projects__item:nth-child(odd) > .projects__image {
    border-top-left-radius: 4px;
  }

 .projects .projects__item:nth-child(even) > .projects__image {
    border-top-right-radius: 4px;
  }

  .projects__item_bottom {
    padding: 16px;
  }