.languages-section {
    padding: 32px 36px;
}

.languages-section__title {
    margin-bottom: 24px;
    @include font-sizing(13px, 1.33);
    font-weight: 400;

    color: $light-text-color;
}

.language {
    display: flex;
    align-items: center;
    gap: 20px;

    &:not(:last-child) {
        margin-bottom: 24px;
    }
}

.language__text {
    @include font-sizing (15px, 1.29);
    font-weight: 500;

    color: $dark-text-color;
}

.language__level {
    @include font-sizing(13px, 1.33);

    color: $light-text-color;
}