h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: #e5e5e5;
  }